/* resetPassword.module.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  background-color: #2b2d42;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.input {
  width: 94%;
  padding: 12px;
  margin: 12px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  color: #4a4e69;
}

.button {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 12px;
  border: none;
  border-radius: 6px;
  background-color: #1d3557;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #457b9d;
}

.errorBox, .successBox {
  width: 94%;
  margin-left: 11px;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.errorBox {
  background-color: #ff5252;
  color: #ffffff;
}

.successBox {
  background-color: #50c878;
  color: #ffffff;
}
